body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: black;
}

h1 {
    color: #2DA2FF;
    font-size: 12rem;
    margin: 0;
}

h3 {
    color:white;
    font-size:2rem
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10rem;
    justify-content: center;
    align-items: center;
}

.header{
    height: fit-content;
}

.buttons {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: #2DA2FF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

@media (max-width: 960px) {
    .container {
        margin-top: 5rem;
    }
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    .buttons {
        flex-direction: column;
        margin-top: 1rem;
    }
    a {
        font-size: 1rem;
    }
}